<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.neo.spring" />

    <bean id="tcpServer" class="com.neo.spring.tcp.server.TcpServer"/>
        <!--<property name="neoChannelInitializer" ref="neoChannelInitializer"></property>-->
    <!--</bean>-->

    <bean id="tcpServerHandler" class="com.neo.spring.tcp.server.TcpServerHandler" scope="prototype"/>

    <bean id="neoChannelInitializer" class="com.neo.spring.tcp.server.NeoChannelInitializer">
        <!--<lookup-method name="getTcpServerHandler" bean="tcpServerHandler"/>-->
        <!--<property name="tcpServerHandler" ref="tcpServerHandler"/>-->
    </bean>



</beans>